/*------------------------------------------------------------------
[Main Stylesheet]

Project:    Interactive rating component
Version:    1.0
Last change:    05/02/08 [fixed Float bug, vf]
Assigned to:    Yari Morcus
Primary use:    Portfolio project 
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents] https://www.smashingmagazine.com/2008/05/improving-code-readability-with-css-styleguides/

    1. [VARIABLES] Colors
    2. ([VARIABLES] + ) Typography
    3. Media query functions
    4. Global
    5. Header
        5.1 Headings
    6. Navigation
    7. Cards
    8. Content
    9. Footer
    10. Media queries

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
1. [VARIABLES] Colors
*/
/*------------------------------------------------------------------
2. ([VARIABLES] + ) Typography
*/
@font-face {
  font-family: "overpass";
  src: url("../font/overpass-regular.woff2") format("woff2"), url("../font/overpass-regular.woff") format("woff"), url("../font/overpass-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "overpass-bold";
  src: url("../font/overpass-bold.woff2") format("woff2"), url("../font/overpass-bold.woff") format("woff"), url("../font/overpass-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*------------------------------------------------------------------
 3. Media query functions
*/
/*------------------------------------------------------------------
4. Global
*/
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: hsl(216deg, 12%, 8%);
}

main {
  margin: 0 1.5rem;
  display: flex;
  place-items: center;
  flex-grow: 1;
}

p {
  margin: 1rem 0 1.5rem;
  color: #7c8798;
}

p,
.rating-circle,
.submit-button {
  font-family: "overpass", sans-serif;
  font-size: 15px;
}

h2 {
  color: hsl(0deg, 0%, 100%);
}

/*------------------------------------------------------------------
5. Header
    5.1 Headings
*/
h2 {
  font-family: "overpass-bold", sans-serif;
}

.thank-you-title {
  margin-top: 0;
  text-align: center;
}

/*------------------------------------------------------------------
7. Cards
*/
.star-icon-container {
  width: 17px;
  height: 16px;
  padding: 1rem;
  border-radius: 100%;
  background-color: hsl(210deg, 19%, 20%);
  background-image: url("../images/icon-star.jpg");
  background-image: url("../images/icon-star.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.3rem;
}

.rating-card,
.thank-you-card {
  margin: 0 auto;
  padding: 2rem 1.5rem;
  max-width: 300px;
  border-radius: 1rem;
  background-color: rgb(37, 45, 55);
  background-image: radial-gradient(circle at top, rgb(124, 135, 152) -150%, rgb(37, 45, 55) 27%);
}
@media (min-width: 568px) {
  .rating-card,
.thank-you-card {
    max-width: 330px;
  }
}

.rating-container {
  display: flex;
  justify-content: space-between;
}

.rating-circle {
  width: 2.7rem;
  height: 2.7rem;
  display: inline-block;
  border-radius: 100%;
  border: none;
  line-height: 2.7rem;
  text-align: center;
  color: hsl(217deg, 12%, 63%);
  background-color: hsl(210deg, 19%, 20%);
}
@media (min-width: 568px) {
  .rating-circle {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
  }
}
.rating-circle:hover {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(217deg, 12%, 63%);
}

.submit-container {
  margin-top: 1.5rem;
}

.submit-button {
  width: 100%;
  padding: 1rem 0;
  border-radius: 2rem;
  border: 1px solid hsl(0deg, 0%, 0%);
  text-transform: uppercase;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(25deg, 97%, 53%);
}
@media (min-width: 568px) {
  .submit-button {
    padding: 0.7rem 0;
  }
}
.submit-button:hover {
  color: hsl(25deg, 97%, 53%);
  background-color: hsl(0deg, 0%, 100%);
}

.selected {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(25deg, 97%, 53%);
}

.thank-you-header {
  text-align: center;
}

.thank-you-illustration {
  margin: 0 auto;
  width: 162px;
  height: 108px;
  background-image: url("../images/illustration-thank-you.png");
  background-image: url("../images/illustration-thank-you.svg");
}

.selected-number-container {
  margin-top: 1.5rem;
  padding: 0.8rem;
  display: inline-block;
  border-radius: 50px;
  color: hsl(25deg, 97%, 53%);
  background-color: hsl(210deg, 19%, 20%);
}

.thank-you-text {
  text-align: center;
}

/*------------------------------------------------------------------
 9. Footer
*/
.attribution {
  padding: 0.8rem;
  text-align: center;
  color: hsl(0deg, 0%, 100%);
  font-family: "overpass", sans-serif;
  font-size: 14px;
  background-color: rgb(37, 45, 55);
}

.attribution-link {
  color: hsl(0deg, 0%, 100%);
  text-decoration-color: hsl(25deg, 97%, 53%);
  text-underline-offset: 5px;
}

/*------------------------------------------------------------------
 10. Media queries
*/
@media (orientation: landscape) {
  main {
    margin-bottom: 1.5rem;
  }
}