/*------------------------------------------------------------------
[Main Stylesheet]

Project:    Interactive rating component
Version:    1.0
Last change:    05/02/08 [fixed Float bug, vf]
Assigned to:    Yari Morcus
Primary use:    Portfolio project 
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents] https://www.smashingmagazine.com/2008/05/improving-code-readability-with-css-styleguides/

    1. [VARIABLES] Colors
    2. ([VARIABLES] + ) Typography
    3. Global
    4. Header
    5. Navigation
    6. Cards
    7. Content
    8. Footer

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
1. [VARIABLES] Colors
*/
/*------------------------------------------------------------------
2. ([VARIABLES] + ) Typography
*/
@font-face {
  font-family: "overpass";
  src: url("../font/overpass-regular.woff2") format("woff2"), url("../font/overpass-regular.woff") format("woff"), url("../font/overpass-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "overpass";
  src: url("../font/overpass-bold.woff2") format("woff2"), url("../font/overpass-bold.woff") format("woff"), url("../font/overpass-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*------------------------------------------------------------------
3. Global
*/
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/*------------------------------------------------------------------
6. Cards
*/
.thank-you-card {
  display: none;
}